/* variables globales */

:root {
    /* colors */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-yellow-oscuro: #D5D52E;
    --color-naranja-oscuro: #D16B04;
    /* font sizes */
    --font-normal-m: 1.6rem;
    --font-mediana-m: 1.8rem;
    --font-grande-m: 2.1rem;
    --font-extragrande-m: 2.5rem;
    /* fonts family */
    /* Text Neon  */
    --text-neon-white: 0 0 5px #ffffff, 0 0 10px #ffffff;
    --text-neon-green: 0 0 5px #48E635, 0 0 10px #48E635;
    --text-neon-red: 0 0 5px #FF0000, 0 0 10px #FF0000, 0 0 15px #FF0000, 0 0 55px #FF0000, 0 0 75px #FF0000;
    /*    --text-neon-yellow: 0 0 5px #E4E635, 0 0 10px #E4E635, 0 0 15px #E4E635;*/
    --text-neon-yellow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #F5FF00, 0 0 45px #F5FF00;
    --text-neon-yellow-grande: 0 0 5px #FFF, 0 0 10px #F5FF00, 0 0 15px #F5FF00, 0 0 45px #F5FF00, 0 0 50px #F5FF00;
}
/* reset default values */

* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
/* customizable image */

img {
    width: 100%;
    height: 100%;
}
/* reset rem */

html {
    /* 1rem = 10px*/
    font-size: 62.5% ;
}
body {
    /* default font-size set back to 16px */
    font-size: 1.6rem ;
}

