/*-------******ESTILOS MOVIL******-----------*/

/*------------GENERAL-----------*/

.index_container {
    height: 100vh;
}
/*------------ MAIN INDEX ----------*/

.Imain {
    height: 90vh;
    background-color: #E8E8E8;
}
.Imain_title {
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Imain_images {
    height: 70%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.Imain_image {
    background-color: #9A9A9A;
    border: 1px solid white;
}
/*------------SECTION PROJECT----------*/

.Psection {
    height: 100vh;
    background-color: #DADADA;
}
/*-------******RESPONSIVE PC******-----------*/

@media (min-width: 1025px) {
    .Imain_images {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    }
    .navbar_elements {
        justify-content: center;
        column-gap: 10rem;
    }
}